footer{
    width: 100%;
    height: auto;
    position: relative;
    padding: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    background: rgb(22, 52, 78);
    margin-top: 80px;
    min-height: 200px;

    > h2{
        font-size: 35px;
        color: white;
        z-index: 2;
    }

    > .wave{
        position: absolute;
        content: '';
        display: block;
        top: -620px;
        left: 0px;
        z-index: 1;
        width: 100%;
    }
}